/****** adapted from https://github.com/stripe-samples/payment-form-modal *****/

.modal {
  all: initial;
  box-sizing: border-box;
  position: fixed;
  font-family: -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 100001 !important;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.modal-content {
  margin: 5em auto;
  border-radius: 10px;
  background:  #fff;
  overflow: hidden;
  width: 340px;
  border-radius: 0.5rem;
}

@media screen and (max-width: 600px) {
  .modal-content {
    height: 100vh;
    width: 100%;
    border-radius: 0;
  }

  .top {
    padding-top: 4em;
  }

  .close {
    padding-top: 1em
  }
}

.top {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.close {
  background: none;
  border: none;
  padding: 0;
  padding-top: 1em;
  font: inherit;
  outline: inherit;
  color:  #fff;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.details {
  margin-bottom: 2px;
}

.price {
  font-size: 36px;
  font-weight: 600;
}

.top-banner {
  background-color: black;
  text-align: center;
  background-color: #e8e9eb;
  padding: 1em;
  padding-top: 0;
}

.product {
  color: #000;
  font-size: 17px;
  font-weight: 700;
}

.company {
  color:  #fff;
  font-size: 18px;
  font-weight: bold;
  margin: auto;
  margin-bottom: 32px;
}

.footer-text {
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  line-height: 16px;
}

.error-message {
  margin-top: 5px;
  color: rgb(220, 39, 39);
  font-size: 13px;
  line-height: 17px;
}

.pay-button-wrapper {
  font-family: -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
  margin: 25px;
  width: 350px;
  height: 40px;
}

.pay-button {
    margin-top: 0.5em;
    margin-bottom: 1em;
    width: 100%;
    position: relative;
    border-radius: 4px;
    background-color: #3ea8e5;
    background-image: linear-gradient(-180deg,#44b1e8,#3098de);
    box-shadow: 0 1px 0 0 rgba(46,86,153,.15), inset 0 1px 0 0 rgba(46,86,153,.1), inset 0 -1px 0 0 rgba(46,86,153,.4);
    font-size: 17px;
    line-height: 21px;
    height: 37px;
    font-weight: 700;
    text-shadow: 0 -1px 0 rgba(0,0,0,.12);
    color: #fff;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border: 0;
}

.pay-button:focus {
  outline: none;
  box-shadow: 0 0 0 1px rgba(50, 151, 211, 0.3), 0 1px 1px 0 rgba(0, 0, 0, 0.07), 0 0 0 4px rgba(50, 151, 211, 0.3);
}

.pay-button:active {
  background-image: linear-gradient(180deg,#328ac3,#277bbe);
}

/* Form */

.payment-form {
  margin-bottom: 0;
}

.label {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: 500;
}

.forms {
  padding: 10px;
  background-color: #f5f5f7;
}

.form-label {
  font-size: 13px;
  margin-bottom: 4px;
  display: block;
  color: rgba(0, 0, 0, 0.6);
}

.StripeElement {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 10px;
  border: 1px solid transparent;
  border-radius: 5px 5px 5px 5px;
  background-color: white;
  box-shadow: 0 0 0 1px rgb(224, 224, 224), 0 2px 4px 0 rgba(0, 0, 0, 0.07), 0 1px 1.5px 0 rgba(0, 0, 0, 0.05);
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 rgb(207, 215, 223);
}

.StripeElement--invalid {
  border-color: rgb(239, 152, 150);
}

.StripeElement--webkit-autofill {
  background-color: rgb(254, 253, 229)!important;
}

.subtitle {
  font-size: 13px;
  font-weight: 500;
  color: #5b5b65;
  text-shadow: 0 1px 0 #fff;
  padding-bottom: 6px;
}

.email-label {
  display: block;
  margin-bottom: 1em;
}

.email {
  margin-top: -4px;
  font-family: -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-smoothing: antialiased;
  color: #32325d;
  border: none;
}

.email:focus { outline: none; }

.email::placeholder { color: #aab7c4; }

.pbs {
  position: absolute;
  left: 1em;
  bottom: 1em;
}

@media screen and (max-width: 544px) {
  .pbs {
    display: none;
  }
}

@keyframes Shake {
	0% {
		transform: translateX(0);
	}
	12.5% {
		transform: translateX(-6px) rotateY(-5deg);
	}
	37.5% {
		transform: translateX(5px) rotateY(4deg);
	}
	62.5% {
		transform: translateX(-3px) rotateY(-2deg);
	}
	87.5% {
		transform: translateX(2px) rotateY(1deg);
	}
	to {
		transform: translateX(0);
	}
}

.shake {
	animation-duration: .4s;
	animation-timing-function: ease-in-out;
	animation-name: Shake;
}
