<div class="bg-secondary">
  <article id="intro-ios-not-safari" class="intro-mobile container content section text-center show-on-ios">
    <header>
      <h2 class="h1">{{ intro-ios-not-safari-heading[heading] Not using Safari? }}</h2>
      <img
        height="170px"
        src="/img/adblock-browser-logo.png"
        alt="{{ abb-logo-alt[Alt text] Adblock Browser logo }}">
    </header>
    <p>
      {{ intro-ios-safari-1 Get the best iOS ad-blocking experience with <strong>Adblock Browser</strong>. A complete browser for iOS. Block ads, disable tracking and more. }}
    </p>
    <div>
      <? include install-button-ios ?>
    </div>
    <div>
      <a href="download" class="download-more">{{ view-ab-products-label[link] View all our ad blocking products }}</a>
    </div>
  </article>
</div>
