title=Development builds

<h2 id="general">{{s1 What are development builds?}}</h2>

<p>{{s2 Development builds represent the most current state of development for Adblock Plus and other extensions hosted on this website. By installing a development build you can try features that haven't been released in a stable version yet.}}</p>

<h2 id="reliability">{{s3 How reliable are development builds?}}</h2>

<p>{{s4 Naturally, development builds are less reliable than stable versions and you are using them at your own risk. However, changes are thoroughly tested before they are added to the source code repository. This means that development builds will work fine most of the time. There will be occasional issues however, especially when using some uncommon configuration — please report these so that they can be fixed. For non-English languages the new strings will usually stay untranslated until shortly before a release. Development builds may also interact with other extensions in a manner that isn't expected from a stable release.}}</p>

<h2 id="bugs">{{s5 How do I report bugs in development builds?}}</h2>

<p>{{s6 Please do so <a href="https://adblockplus.org/forum/index.php">in the forum</a>, simply create a new topic (but look around a little, the same issue might have been reported already). You don't need to register but you can do so if you want to be notified about changes in your topic. Please provide all the information necessary to reproduce the issue, especially development build version, browser and browser version, operating system. Please consider temporarily installing the latest stable version of the extension and verifying that the issue doesn't exist there, as this information is generally very helpful.}}</p>

<h2 id="installation">{{s7 How do I install/update development builds?}}</h2>

<p>{{s8 To install a development build click one of the links below:}}</p>

<p><small>{{ tos-agreement[TOS agreement] By clicking any of the links below, you agree to our <a href="terms">Terms of Use</a>. }}</small></p>

<ul>
  <li>
    <a href="/devbuilds/adblockplusfirefox/00latest.xpi">{{s10 <fix>Adblock Plus</fix> for <fix>Firefox</fix>}}</a>
    <small>{{s20 (<a href="/devbuilds/adblockplusfirefox/00latest.changelog.xhtml">changelog</a>,
    <a href="/devbuilds/adblockplusfirefox/">older builds</a>)}}</small>
  </li>
  <li>
    <a href="https://chrome.google.com/webstore/detail/adblock-plus-development/ldcecbkkoecffmfljeihcmifjjdoepkn">{{abp-for-chrome <fix>Adblock Plus</fix> for <fix>Chrome</fix>, <fix>Microsoft Edge</fix> and <fix>Opera</fix>}}</a>
    <small>{{s11 (<a href="/devbuilds/adblockpluschrome/00latest.changelog.xhtml">changelog</a>,
    <a href="/devbuilds/adblockpluschrome/">older builds</a>)}}</small>
  </li>
  <li>
    <a href="/devbuilds/adblockplusie/00latest.exe">{{s17 <fix>Adblock Plus</fix> for <fix>Internet Explorer</fix> (Internet Explorer 8 or above required)}}</a>
    <small>{{s18 (<a href="/devbuilds/adblockplusie/">older builds</a>)}}</small>
  </li>
</ul>

<p>
  {{s29 Your browser will check for updates automatically and offer you an update to the more
  recent development build once it is available.}} {{s30 Note that you will never be updated to
  the stable release, instead you will get the development build immediately following the
  stable release.}}
</p>

<h2 id="changes">{{s32 How do I know what has changed?}}</h2>

<p>{{s33 When the browser shows you the notification about available updates, click the development build and then "Show Information" button. This will display the list of all changes in this build. For a more high-level overview of the changes and additional information please follow the <a href="/development-builds/">development build announcements</a>. You can subscribe to the <a href="/rss/?section=development-builds">RSS feed</a> in your favorite feed reader.}}</p>
