title=Privacy FAQ | Adblock Plus
description=Frequently asked questions about the Privacy Policy of Adblock Plus.
noheading=True
notoc=True

<head>
  <style type="text/css">
    /* Clone of h2 styles from main.css */
    dt
    {
        font-size: 1.3em;
        margin: 32px 0 16px 0;
        margin: 2rem 0 1rem 0;
        line-height: 1.4;
    }

    @media (min-width: 576px)
    {
        dt {
            font-size: 1.4em;
        }
    }

    @media (min-width: 768px)
    {
        dt {
            font-size: 1.6em;
        }
    }
  </style>
</head>

<h1>{{ page-heading[heading] Adblock Plus Privacy Policy — Frequently Asked Questions }}</h1>

<div class="toc">
  <ul>
    <li>
      <a href="#collect-personal-data">{{ collect-personal-data-toc-link Does Adblock Plus collect any personal data? }}</a>
    </li>
    <li>
      <a href="#who-collects-data">{{ who-collects-data-toc-link Who collects my personal data when I use Adblock Plus? }}</a>
    </li>
    <li>
      <a href="#what-kind-of-data">{{ what-kind-of-data-toc-link What kind of personal data does eyeo collect? }}</a>
    </li>
    <li>
      <a href="#track-browser-history">{{ track-browser-history-toc-link Does eyeo track my browsing history? }}</a>
    </li>
    <li>
      <a href="#how-we-collect-data">{{ how-we-collect-data-toc-link How does eyeo collect personal data? }}</a>
    </li>
    <li>
      <a href="#why-we-collect-data">{{ why-we-collect-data-toc-link Why does eyeo collect personal data? }}</a>
    </li>
    <li>
      <a href="#selling-personal-data">{{ selling-personal-data-toc-link Does eyeo sell data to third parties? }}</a>
    </li>
    <li>
      <a href="#legal-standards-requirements">{{ legal-standards-requirements-toc-link What are the legal standards or requirements associated with eyeo collecting personal data? }}</a>
    </li>
    <li>
      <a href="#hashing-data">{{ hashing-data-toc-link Does eyeo hash the data it collects? }}</a>
    </li>
    <li>
      <a href="#data-expiry">{{ data-expiry-toc-link How long does eyeo store personal data? }}</a>
    </li>
    <li>
      <a href="#personal-data-rights">{{ personal-data-rights-toc-link What rights do I have over personal data that eyeo has collected? }}</a>
    </li>
    <li>
      <a href="#exercise-rights">{{ exercise-rights-toc-link How can I exercise these rights? }}</a>
    </li>
  </ul>
</div>

<dl>
  <dt id="collect-personal-data">
    {{ personal-data[heading] Does Adblock Plus collect any personal data? }}
  </dt>
  <dd>
    {{ personal-data-1 Yes. Adblock Plus collects some limited personal data, but only to provide you with its services. }}
  </dd>

  <dt id="who-collects-data">
    {{ who-collects-data[heading] Who collects my personal data when I use Adblock Plus? }}
  </dt>
  <dd>
    {{ who-collects-data-1 eyeo GmbH (Germany), the company behind Adblock Plus. }}
  </dd>

  <dt id="what-kind-of-data">
    {{ what-king-of-data[heading] What kind of personal data does eyeo collect? }}
  </dt>
  <dd>
    <p>
      {{ what-king-of-data-1 eyeo collects personal data related to the technical properties of your web browser and the Adblock Plus version that you installed. Additionally, eyeo also collects any personal data which you voluntarily submit to us in things like error reports or forum posts. }}
    </p>
    <p>
      {{ what-king-of-data-2 For a more detailed list of the personal data that eyeo collects, please refer to the Adblock Plus <a href="privacy">Privacy Policy</a>. }}
    </p>
  </dd>

  <dt id="track-browser-history">
    {{ tracking-browser-history[heading] Does eyeo track my browsing history? }}
  </dt>
  <dd>
    {{ tracking-browser-history-1 No. }}
  </dd>

  <dt id="how-we-collect-data">
    {{ how-we-collect[heading] How does eyeo collect personal data? }}
  </dt>
  <dd>
    <p>
      {{ how-we-collect-1 eyeo collects data in two ways. Certain data is collected when you access or browse through the Adblock Plus website. eyeo also collects non-personal data through the extension and personal data by checking the voluntarily information that you submit to it through the Adblock Plus extension. }}
    </p>
    <p>
      {{ how-we-collect-2 For a more detailed list of how eyeo collects personal data, please refer to the Adblock Plus <a href="privacy">Privacy Policy</a>. }}
    </p>
  </dd>

  <dt id="why-we-collect-data">
    {{ why-we-collect[heading] Why does eyeo collect personal data? }}
  </dt>
  <dd>
    {{ why-we-collect-1 eyeo collects personal data only to the extent that is necessary to provide you with its services. Specifically, eyeo collects anonymized and very little personal data to improve and evaluate its products. }}
  </dd>

  <dt id="selling-personal-data">
    {{ selling-data[header] Does eyeo sell data to third parties? }}
  </dt>
  <dd>
    {{ selling-data-1 No. eyeo never sells data to third parties. }}
  </dd>

  <dt id="legal-standards-requirements">
    {{ legal-standards[heading] What are the legal standards or requirements associated with eyeo collecting personal data? }}
  </dt>
  <dd>
    {{ legal-standards-1 eyeo collects and processes your personal data in compliance with the <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=uriserv:OJ.L_.2016.119.01.0001.01.ENG">European General Data Protection Regulation (Regulation (EU) 2016/679) (“GDPR”)</a> and the applicable EU and German national data protection laws, including the <a href="https://www.gesetze-im-internet.de/englisch_bdsg/">Federal German Data Protection Act - Bundesdatenschutzgesetz (BDSG)</a>. }}
  </dd>

  <dt id="hashing-data">
    {{ hash-data[heading] Does eyeo hash the data it collects? }}
  </dt>
  <dd>
    {{ hash-data-1 eyeo hashes the IP addresses from access logs before analysing the data. In other words, eyeo encodes the IP addresses that it sees so that the original information is kept secret. }}
  </dd>

  <dt id="data-expiry">
    {{ personal-data-expiry[heading] How long does eyeo store personal data? }}
  </dt>
  <dd>
    <p>
      {{ personal-data-expiry-1 After a period of 30 days, eyeo deletes the following data: }}
    </p>
    <ul>
      <li>{{ personal-data-expiry-item-1 Issue report data }}</li>
      <li>{{ personal-data-expiry-item-2 Crash and error report data }}</li>
      <li>{{ personal-data-expiry-item-3 Website logs }}</li>
      <li>{{ personal-data-expiry-item-4 Data related to subscription downloads, extension update checks, and emergency notifications }}</li>
    </ul>
    <p>
      {{ personal-data-expiry-2 eyeo stores blog and forum data for as long as the respective comment / account continues to exist. Aggregated data, and any other data that does not have a connection to a single user, meaning non-personal data, may be stored beyond these periods. }}
    </p>
  </dd>

  <dt id="personal-data-rights">
    {{ personal-data-rights[heading] What rights do I have over personal data that eyeo has collected?}}
  </dt>
  <dd>
    <p>
      {{ personal-data-rights-1 You have the following rights in relation to any of your personal information that eyeo has collected: }}
    </p>
    <ul>
      <li>{{ personal-data-rights-item-1 To receive information about the personal data processed by eyeo and how eyeo processes your data. }}</li>
      <li>{{ personal-data-rights-item-2 To obtain access to any personal data eyeo has processed. }}</li>
      <li>{{ personal-data-rights-item-3 To correct inaccurate personal data and restrict details. }}</li>
      <li>{{ personal-data-rights-item-4 To receive your personal data in a structured, commonly used, and machine-readable format. }}</li>
      <li>{{ personal-data-rights-item-5 To request the erasure of your data (unless such data needs to be retained for legal purposes). }}</li>
      <li>{{ personal-data-rights-item-6 To object to the processing of your data. }}</li>
      <li>{{ personal-data-rights-item-7 To withdraw at any time the consent that you previously gave eyeo to process your data. }}</li>
      <li>{{ personal-data-rights-item-8 To file a complaint with the appropriate supervisory authority. }}</li>
    </ul>
  </dd>

  <dt id="exercise-rights">
    {{ exercise-rights[heading] How can I exercise these rights? }}
  </dt>
  <dd>
    {{ exercise-rights-1 Send an email to <a id='privacy-email' data-mask='{"href": "bWFpbHRvOnByaXZhY3lAZXllby5jb20=", "textContent": "cHJpdmFjeUBleWVvLmNvbQ=="}'>email address</a>. }}
  </dd>
</dl>

<script src="/js/address-masking.js"></script>
