title=FAQ - Basic functionality

<head>
<script src='/js/animation.js'></script></head>
<h2 id="blocking">{{s1 How do I block a banner?}}</h2>

<p>{{s2 You can right-click on any image or frame and choose "Adblock" from the context menu. This will open a dialog where you can tweak the new filter before adding. Feel free to replace parts of the banner's address by wildcards (* — the star symbol) to make the filter block other banners with similar addresses as well. For more information you can read <a href="filters">Writing Adblock Plus filters</a>.}}</p>

<animation label="{{s3 Show me how this is done}}" name="blockbanner" xmlns="https://adblockplus.org/animation"></animation>

<h2 id="disable">{{s4 I sometimes want Adblock Plus to be disabled. How can I do this most easily?}}</h2>

<p>{{s5 You can click the Adblock Plus icon in the toolbar to bring up the menu. There you have the option to disable/reenable Adblock Plus for the website you are visiting by simply clicking the related slider and then click “refresh”.}}</p>

<p>{{s6 It will add an exception rule like <code>@@||adblockplus.org^$document</code> to your list of filters. You can find more information on exception rules in <a href="filters#whitelist">Writing Adblock Plus filters</a>}}.</p>

<p>
  {{s47 If you want to disable Adblock Plus on all websites, follow these instructions: <a href="https://adblockplus.org/getting_started#disable-reenable">Disabling/Reenabling Adblock Plus on all Websites</a>.}}
</p>

<animation label="{{s3 Show me how this is done}}" name="disable" xmlns="https://adblockplus.org/animation"></animation>

<h2 id="hide-support">{{s8 Can I support my favorite website by downloading but hiding ads?}}</h2>

<p>{{s9 No. Most advertisers pay per-click, so if you hide ads, you won't actually support the site in question. Even in the off-chance of payouts per-view, it's trivial for advertisers to use JavaScript to check if the ads are visible. Additionally, downloading but hiding ads to trick advertisers into paying would be akin to fraud.}}</p>

<p>{{s10 In short, if you want to support your favorite websites, you'll have to whitelist them to disable Adblock Plus on those sites.}}</p>

<h2 id="update-filterlists">{{s11 How can I update my filterlist manually?}}</h2>

<h3>{{s12 In Firefox:}}</h3>

<p>
  <ol>
    <li>
      {{s13 Select Firefox >> Add-ons (for Mac OS X / Linux, select "Tools" from the menubar >> "Add-Ons"), this will open your Firefox Add-ons Manager.}}
    </li>
    <li>
      {{s14 Click on "Extensions", find Adblock Plus there, go to "Options" and then click on "Filter preferences...".}}
    </li>
    <li>
      {{s15 Press this shortcut key to update all filter susbcription at once: Ctrl+Shift+T or right-click a filter subscription and choose "Update filters".}}
    </li>
  </ol>
</p>

<h3>{{s16 In Chrome:}}</h3>

<p>
  <ol>
    <li>
      {{s17 Click the Chrome menu button, then go to "Tools" and choose "Extensions".}}
    </li>
    <li>
      {{s18 Find Adblock Plus there and click on "Options" under its description.}}
    </li>
    <li>
      {{s19 Click the "Update now" button.}}
    </li>
  </ol>
</p>

<h3>{{s20 In Opera:}}</h3>

<p>
  <ol>
    <li>
      {{s21 Click the "Menu" button (for Mac OS X / Linux, "Tools"), select "Extensions" >> "Manage Extensions".}}
    </li>
    <li>
      {{s22 Find Adblock Plus there and click its small tool-icon on the right side and choose "Preferences".}}
    </li>
    <li>
      {{s23 Click the "Update now" button.}}
    </li>
  </ol>
</p>

<h2 id="remove-subscription">{{s24 How can I remove a filterlist?}}</h2>

<h3>{{s25 In Firefox}}</h3>

<p>
  {{s26 Go to Tools >> Add-Ons >> Preferences (next to Adblock Plus) >> Filter Preferences.
  Select the filterlist you want to delete, click on the "Action" button, and select "Delete".
  Click on "OK" to confirm.}}
</p>

<h3>{{s27 In Google Chrome}}</h3>

<p>
  {{s28 Go to Window >> Extensions >> Options (of the Adblock Plus extension).
  Click on the red "X" next to the filterlist you want to delete, and click "OK" to confirm.}}
</p>

<h3>{{s29 In Opera (on Windows/Ubuntu)}}</h3>

<p>
  {{s30 Click on the menu button and go to Extensions >> Manage Extensions >> Click on the tool-icon >> Preferences.
  Click on the red "X" next to the filterlist you want to delete, and click "OK" to confirm.}}
</p>

<h3>{{s31 In Opera (on Mac OSX)}}</h3>

<p>
  {{s32 Go to Tools >> Extensions >> Manage Extensions >> Click on the tool-icon >> Preferences.
  Click on the red "X" next to the filterlist you want to delete, and click "OK" to confirm.}}
</p>

<h2 id="objects">{{s33 The banner is an object (Flash or Java) and doesn't have a context menu. What now?}}</h2>

<p>{{s34 Adblock Plus has an option called "Show tabs on Flash and Java". When activated (the default) it will display a button saying "Block" at the upper right (lower right if there isn't enough space) corner of every object. Clicking this button will block the object.}}</p>

<animation label="{{s3 Show me how this is done}}" name="blockobject" xmlns="https://adblockplus.org/animation"></animation>

<p>{{s36 Alternatively you can open the list of blockable items (press Ctrl+Shift+V or click the dropdown arrow next to the ABP toolbar icon and choose Open blockable items) and look for an object there.}}</p>

<animation label="{{s37 Show me how this is done}}" name="blockobject2" xmlns="https://adblockplus.org/animation"></animation>

<p>{{s38 You can click the Type column header — this will sort the list by type and make finding objects easier.}}</p>

<h2 id="checking">{{s39 The list of blockable items shows many addresses. How do I know which one is the banner?}}</h2>

<p>{{s40 You can look for addresses that start differently than the address of the page you are viewing. Banners also typically have keywords like "banner" or "ad" in their address. Click an address to make the corresponding element(s) blink on the page (unfortunately this doesn't work for all types of objects). If you are still unsure, press the middle mouse button on the address to open it in a new tab — there you will definitely see whether it is a banner.}}</p>

<h2 id="ordering">{{s41 Is the order of filters relevant for performance?}}</h2>

<p>{{s42 No. When Adblock Plus tests an address against your list of filters it determines the best order in which filters should be tested automatically, in fact most of the filters won't be considered at all. The order of filters you can change in the Preferences dialog is for your convenience only, it has no impact on the performance.}}</p>

<h2 id="regexps">{{s43 Are regular expressions faster than "normal" filters?}}</h2>

<p>{{s44 Usually this is not the case. Adblock Plus will transform any "normal" filter into a regular expression, and internally it will work only with regular expressions — there is no difference between the filters <code>banner</code> and <code>/banner/</code>.}}</p>

<p>{{s45 Regular expressions are often used to "compress" the filters list and replace several filters by one regular expression. The rule of thumb says "fewer filters means faster" but it isn't always correct in this case. Complicated regular expressions require much time to be evaluated, it might be faster to use several simple ones.}}</p>

<p>{{s46 Regular expression give you more flexibility however, that's where their use is always justified. For example the regular expression <code>/adv(?!ice)/</code> will block <code>adv</code> and <code>advert</code> and <code>advertisement</code> but not <code>advice</code> — something you couldn't have done with simple wildcards.}}</p>
