title=Adblock Plus filters explained

<head>
<style type="text/css">
  #content
  {
    max-width: none;
  }

  canvas
  {
    width: 100%;
    height: 100px;
  }

  .filter
  {
    font-size: 200%;
    padding: 0px 5px;
  }
  .filter > *
  {
    display: inline-block;
    border-top: 2px solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0px 2px;
    padding: 3px;
    opacity: 0.6;
  }
  .filter > .active
  {
    opacity: 1.0;
  }

  .explanations > *
  {
    display: inline-block;
    text-align: left;
    border: 4px solid;
    margin: 0px 1%;
    width: 19%;
    border-radius: 10px;
    padding: 0px 5px;
    opacity: 0.6;
  }
  .explanations > .active
  {
    opacity: 1.0;
  }
  .explanations h4
  {
    margin-top: 0px !important;
  }
  .explanations p
  {
    margin-bottom: 0px !important;
  }

  .filter > .verbatim
  {
    color: #000000;
    border-top-color: #000000;
  }
  .explanations > .verbatim
  {
    border-color: #000000;
  }

  .filter > .wildcard
  {
    color: #FF8000;
    border-top-color: #FF8000;
  }
  .explanations > .wildcard
  {
    border-color: #FF8000;
  }

  .filter > .separator
  {
    color: #FF0000;
    border-top-color: #FF0000;
  }
  .explanations > .separator
  {
    border-color: #FF0000;
  }

  .filter > .domainAnchor
  {
    color: #00C080;
    border-top-color: #00C080;
  }
  .explanations > .domainAnchor
  {
    border-color: #00C080;
  }

  .filter > .startAnchor,
  .filter > .endAnchor
  {
    color: #00C0C0;
    border-top-color: #00C0C0;
  }
  .explanations > .startAnchor,
  .explanations > .endAnchor
  {
    border-color: #00C0C0;
  }

  .filter > .optionSeparator
  {
    color: #FF0080;
    border-top-color: #FF0080;
  }
  .explanations > .optionSeparator
  {
    border-color: #FF0080;
  }

  .filter > .typeOption,
  .filter > .domainOption
  {
    color: #800040;
    border-top-color: #800040;
  }
  .explanations > .typeOption,
  .explanations > .domainOption
  {
    border-color: #800040;
  }

  .filter > .exception
  {
    color: #00C000;
    border-top-color: #00C000;
  }
  .explanations > .exception
  {
    border-color: #00C000;
  }

  .filter > .comment
  {
    color: #C0C0C0;
    border-top-color: #C0C0C0;
  }
  .explanations > .comment
  {
    border-color: #C0C0C0;
  }

  table
  {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
  }
  table, th, td
  {
    border: 1px solid black;
  }
  th, td
  {
    vertical-align: top;
    padding: 5px;
  }
  td > p:first-child
  {
    margin-top: 0px;
  }
  td > code
  {
    overflow-wrap: break-word;
  }
  .syntax
  {
    width: 10%;
  }
  .purpose
  {
    width: 45%;
  }
  .examples
  {
    width: 45%;
  }
  .option
  {
    width: 30%;
  }
  .optionPurpose
  {
    width: 70%;
  }
  .selector
  {
    width: 45%;
  }
  .selectorPurpose
  {
    width: 55%;
  }
</style>

<script type="text/javascript"><!--
  var activeElement = null;
  window.onload = initDisplay;
  window.onresize = updateDisplay;
  window.onmouseover = onMouseOver;
  window.onmouseout = onMouseOut;

  function initDisplay()
  {
    var examples = document.getElementsByClassName("example");
    for (var i = 0; i < examples.length; i++)
      initExample(examples[i]);
    updateDisplay();
  }

  function initExample(example)
  {
    example._explanations = example.getElementsByClassName("explanations")[0].children;
    example._canvas = example.getElementsByClassName("canvas")[0];

    var filter = example.getElementsByClassName("filter")[0];
    for (var i = 0; i < example._explanations.length; i++)
    {
      var explanation = example._explanations[i];
      explanation._targets = filter.getElementsByClassName(explanation.className.replace(/^explanation\s/, ""));
      for (var j = 0; j < explanation._targets.length; j++)
        explanation._targets[j]._explanation = explanation;
    }
  }

  function updateDisplay()
  {
    var examples = document.getElementsByClassName("example");
    for (var i = 0; i < examples.length; i++)
      updateExample(examples[i]);
  }

  function updateExample(example)
  {
    example._canvas.width = example._canvas.offsetWidth;
    example._canvas.height = example._canvas.offsetHeight;

    var context = example._canvas.getContext("2d");
    context.clearRect(0, 0, example._canvas.width, example._canvas.height);

    for (var i = 0; i < example._explanations.length; i++)
    {
      var explanation = example._explanations[i];
      if (explanation == activeElement)
        explanation.classList.add("active");
      else
        explanation.classList.remove("active");

      var offsetFrom = Math.round(explanation.offsetLeft + explanation.offsetWidth / 2 - example._canvas.offsetLeft);
      for (var j = 0; j < explanation._targets.length; j++)
      {
        var target = explanation._targets[j];
        if (explanation == activeElement)
          target.classList.add("active");
        else
          target.classList.remove("active");

        var offsetTo = Math.round(target.offsetLeft + target.offsetWidth / 2 - example._canvas.offsetLeft);
        context.strokeStyle = window.getComputedStyle(explanation, "").borderBottomColor;
        context.globalAlpha = (explanation == activeElement ? 1.0 : 0.6);
        context.lineWidth = 2;
        context.beginPath();
        context.moveTo(offsetFrom, 0);
        context.lineTo(offsetFrom, Math.round(example._canvas.height / (example._explanations.length + 1) * (i + 1)));
        context.lineTo(offsetTo, Math.round(example._canvas.height / (example._explanations.length + 1) * (i + 1)));
        context.lineTo(offsetTo, example._canvas.height);
        context.stroke();
      }
    }
  }


  function onMouseOver(event)
  {
    for (var node = event.target; node; node = node.parentNode)
    {
      if ("_targets" in node)
      {
        activeElement = node;
        setTimeout(updateDisplay, 0);
        break;
      }
      else if ("_explanation" in node)
      {
        activeElement = node._explanation;
        setTimeout(updateDisplay, 0);
        break;
      }
    }
  }

  function onMouseOut(event)
  {
    for (var node = event.target; node; node = node.parentNode)
    {
      if (node == activeElement || ("_explanation" in node && node._explanation == activeElement))
      {
        activeElement = null;
        setTimeout(updateDisplay, 0);
        break;
      }
    }
  }
--></script>
</head>
<p style="background-color: red;">{{s1 Unfinished, not for translating}}</p>

<h2 id="blocking">{{s2 Simple blocking rules}}</h2>

<p>
  {{s3 Blocking rules determine addresses that Adblock Plus should block.}}
</p>

<h3 id="blocking1">{{s4 Example 1: Blocking by address parts}}</h3>

<div class="example">
  <div class="explanations">
    <div class="verbatim">
      <h4>{{s5 Verbatim text}}</h4>
      <p>{{s6 This text must be present in the address to be blocked.}}</p>
    </div>
    <div class="wildcard">
      <h4><a href="filters#basic">{{s7 Wildcard character}}</a></h4>
      <p>{{s8 This stands for any number of characters.}}</p>
    </div>
    <div class="separator">
      <h4><a href="filters#separators">{{s9 Separator}}</a></h4>
      <p>{{s10 The address must either end here or a separator character like ? or / has to follow.}}</p>
    </div>
  </div>
  <div style="line-height: 0;"><canvas class="canvas"></canvas></div>
  <div class="filter">
    <span class="verbatim">{{s11 /banner/}}</span><span class="wildcard">{{s12 *}}</span><span class="verbatim">{{s13 /img}}</span><span class="separator">{{s14 ^}}</span>
  </div>
</div>

<p>
  {{s15 This rule blocks:}}
</p>
<ul>
  <li><code>http://example.com/banner/foo/img</code></li>
  <li><code>http://example.com/banner/foo/bar/img?param</code></li>
  <li><code>http://example.com/banner//img/foo</code></li>
</ul>
<p>
  {{s16 This rule doesn't block:}}
</p>
<ul>
  <li><code>http://example.com/banner/img</code></li>
  <li><code>http://example.com/banner/foo/imgraph</code></li>
  <li><code>http://example.com/banner/foo/img.gif</code></li>
</ul>

<h3 id="blocking2">{{s17 Example 2: Blocking by domain name}}</h3>

<div class="example">
  <div class="explanations">
    <div class="domainAnchor">
      <h4><a href="filters#anchors">{{s18 Domain name anchor}}</a></h4>
      <p>{{s19 The following text must be the domain name of the address.}}</p>
    </div>
    <div class="verbatim">
      <h4>{{s5 Verbatim text}}</h4>
      <p>{{s6 This text must be present in the address to be blocked.}}</p>
    </div>
    <div class="separator">
      <h4><a href="filters#separators">{{s9 Separator}}</a></h4>
      <p>{{s23 A separator character has to follow that will indicate the end of the domain name, e.g. / or :.}}</p>
    </div>
  </div>
  <div style="line-height: 0;"><canvas class="canvas"></canvas></div>
  <div class="filter">
    <span class="domainAnchor">{{s24 ||}}</span><span class="verbatim">{{s25 ads.example.com}}</span><span class="separator">{{s26 ^}}</span>
  </div>
</div>

<p>
  {{s15 This rule blocks:}}
</p>
<ul>
  <li><code>http://ads.example.com/foo.gif</code></li>
  <li><code>http://server1.ads.example.com/foo.gif</code></li>
  <li><code>https://ads.example.com:8000/</code></li>
</ul>
<p>
  {{s16 This rule doesn't block:}}
</p>
<ul>
  <li><code>http://ads.example.com.ua/foo.gif</code></li>
  <li><code>http://example.com/redirect/http://ads.example.com/</code></li>
</ul>

<h3 id="blocking3">{{s29 Example 3: Blocking exact address}}</h3>

<div class="example">
  <div class="explanations">
    <div class="startAnchor">
      <h4><a href="filters#anchors">{{s30 Start anchor}}</a></h4>
      <p>{{s31 The following text must be the beginning of the address.}}</p>
    </div>
    <div class="verbatim">
      <h4>{{s5 Verbatim text}}</h4>
      <p>{{s6 This text must be present in the address to be blocked.}}</p>
    </div>
    <div class="endAnchor">
      <h4><a href="filters#anchors">{{s34 End anchor}}</a></h4>
      <p>{{s35 The preceding text must be the end of the address.}}</p>
    </div>
  </div>
  <div style="line-height: 0;"><canvas class="canvas"></canvas></div>
  <div class="filter">
    <span class="startAnchor">{{s36 |}}</span><span class="verbatim">{{s37 http://example.com/}}</span><span class="endAnchor">{{s38 |}}</span>
  </div>
</div>

<p>
  {{s15 This rule blocks:}}
</p>
<ul>
  <li><code>http://example.com/</code></li>
</ul>
<p>
  {{s16 This rule doesn't block:}}
</p>
<ul>
  <li><code>http://example.com/foo.gif</code></li>
  <li><code>http://example.info/redirect/http://example.com/</code></li>
</ul>

<h2 id="options">{{s41 Options in blocking rules}}</h2>

<p>
  {{s42 Blocking rules can have a number of options to fine-tune their behavior.}}
</p>

<div class="example">
  <div class="explanations">
    <div class="verbatim">
      <h4>{{s43 Address to be blocked}}</h4>
      <p>{{s44 This part of the rule defines which addresses it is applied to.}}</p>
    </div>
    <div class="optionSeparator">
      <h4>{{s45 Option separator}}</h4>
      <p>{{s46 This character indicates that the following text defines filter option.}}</p>
    </div>
    <div class="typeOption">
      <h4><a href="#filter-options">{{s47 Type option}}</a></h4>
      <p>
        {{s48 Type options define request types to be blocked. Common type options are
        <code>script</code> or <code>image</code> indicating that only
        scripts/images should be blocked. The inverse type option <code>~script</code>
        means that the filter should not be applied to scripts.}}
      </p>
    </div>
    <div class="domainOption">
      <h4><a href="#filter-options">{{s49 Domain option}}</a></h4>
      <p>
        {{s50 Domain option restricts the filter to a set of domains (here <code>example.com</code>).
        It also allows to disable the rule on some domains (here on <code>foo.example.com</code>).}}
      </p>
    </div>
  </div>
  <div style="line-height: 0;"><canvas class="canvas"></canvas></div>
  <div class="filter">
    {{s51 <span class="verbatim">||ads.example.com^</span><span class="optionSeparator">$</span><span class="typeOption">script</span>,<span class="typeOption">image</span>,<span class="domainOption">domain=example.com|~foo.example.info</span>}}
  </div>
</div>

<p>
  {{s52 This rule blocks <code><fix>http://ads.example.com/foo.gif</fix></code> only if the following conditions are met:}}
</p>
<ul>
  <li>{{s53 This address is being loaded as a script or an image.}}</li>
  <li>
    {{s54 The page loading it comes from <code><fix>example.com</fix></code> domain (for example <code><fix>example.com</fix></code> itself
    or <code><fix>subdomain.example.com</fix></code>) but not from <code><fix>foo.example.com</fix></code> or its subdomains.}}
  </li>
</ul>

<h2 id="exceptions">{{s55 Exception rules}}</h2>

<p>
  {{s56 Exception rules are built the same as blocking rules, they define which addresses should be allowed even if matching blocking rules exists.}}
</p>

<h3 id="exceptions1">{{s57 Example 1: Exception for particular requests}}</h3>

<div class="example">
  <div class="explanations">
    <div class="exception">
      <h4>{{s58 Exception rule}}</h4>
      <p>{{s59 Rules starting like this are exceptions, they will override blocking rules.}}</p>
    </div>
    <div class="verbatim">
      <h4>{{s60 Address to be allowed}}</h4>
      <p>{{s61 This part of the rule defines which addresses it is applied to, it is structured the same as for <a href="#blocking">blocking rules</a>.}}</p>
    </div>
    <div class="typeOption">
      <h4><a href="#filter-options">{{s47 Type option}}</a></h4>
      <p>
        {{s63 This type option prevents the exception from being applied to scripts.}}
      </p>
    </div>
  </div>
  <div style="line-height: 0;"><canvas class="canvas"></canvas></div>
  <div class="filter">
    <span class="exception">{{s64 @@}}</span><span class="verbatim">{{s65 ||ads.example.com/notbanner^}}</span><span class="optionSeparator">{{s66 $}}</span><span class="typeOption">{{s67 ~script}}</span>
  </div>
</div>

<h3 id="exceptions2">{{s68 Example 2: Exception for an entire site}}</h3>

<div class="example">
  <div class="explanations">
    <div class="exception">
      <h4>{{s58 Exception rule}}</h4>
      <p>{{s59 Rules starting like this are exceptions, they will override blocking rules.}}</p>
    </div>
    <div class="verbatim">
      <h4>{{s60 Address to be allowed}}</h4>
      <p>{{s61 This part of the rule defines which addresses it is applied to, it is structured the same as for <a href="#blocking">blocking rules</a>.}}</p>
    </div>
    <div class="typeOption">
      <h4><a href="#filter-options">{{s47 Type option}}</a></h4>
      <p>
        {{s74 This special type option indicates that Adblock Plus should be completely disabled on pages that this rule applies to.}}
      </p>
    </div>
  </div>
  <div style="line-height: 0;"><canvas class="canvas"></canvas></div>
  <div class="filter">
    <span class="exception">{{s75 @@}}</span><span class="verbatim">{{s76 ||example.com^}}</span><span class="optionSeparator">{{s77 $}}</span><span class="typeOption">{{s78 document}}</span>
  </div>
</div>

<h2 id="comments">{{s79 Comments}}</h2>

<div class="example">
  <div class="explanations">
    <div class="comment">
      <h4>{{s80 Comment}}</h4>
      <p>{{s81 An exclamation mark at the beginning of the rule indicates a comment.}}</p>
    </div>
    <div class="verbatim">
      <h4>{{s82 Comment text}}</h4>
      <p>{{s83 This text will not be used for blocking, you can write anything you want.}}</p>
    </div>
  </div>
  <div style="line-height: 0;"><canvas class="canvas"></canvas></div>
  <div class="filter">
    <span class="comment">{{s84 !}}</span><span class="verbatim">{{s85 This is a comment}}</span>
  </div>
</div>

<h2 id="filter-options">{{s86 Filter options}}</h2>

<table>
  <col class="option">
  <col class="optionPurpose">
  <tr>
      <th>{{s87 Option}}</th>
      <th>{{s88 Purpose}}</th>
  </tr>
  <tr>
      <td colspan="2" style="text-align: center;">{{s89 Types}}</td>
  </tr>
  <tr>
      <td><code>script</code><br><code>~script</code></td>
      <td>{{s90 Include or exclude JavaScript files}}</td>
  </tr>
  <tr>
      <td><code>image</code><br><code>~image</code></td>
      <td>{{s91 Include or exclude image files}}</td>
  </tr>
  <tr>
      <td><code>stylesheet</code><br><code>~stylesheet</code></td>
      <td>{{s92 Include or exclude stylesheets (CSS files)}}</td>
  </tr>
  <tr>
      <td><code>object</code><br><code>~object</code></td>
      <td>{{s93 Include or exclude content handled by browser plug-ins like Flash or Java}}</td>
  </tr>
  <tr>
      <td><code>subdocument</code><br><code>~subdocument</code></td>
      <td>{{s95 Include or exclude pages loaded within pages (frames)}}</td>
  </tr>
  <tr>
    <td><code>xmlhttprequest</code><br><code>~xmlhttprequest</code></td>
    <td>{{s140 Include or exclude requests started using the <a href="https://xhr.spec.whatwg.org/"><code>XMLHttpRequest</code></a> object or <a href="https://fetch.spec.whatwg.org/"><code>fetch</code></a> API}}</td>
  </tr>
  <tr>
    <td><code>websocket</code><br><code>~websocket</code></td>
    <td>{{s141 Include or exclude requests initiated via <a href="https://developer.mozilla.org/docs/Web/API/WebSocket"><code>WebSocket</code></a> object}}</td>
  </tr>
  <tr>
    <td><code>webrtc</code><br><code>~webrtc</code></td>
    <td>{{s142 Include or exclude connections opened via <a href="https://developer.mozilla.org/docs/Web/API/RTCPeerConnection"><code>RTCPeerConnection</code></a> instances to ICE servers}}</td>
  </tr>
  <tr>
    <td><code>popup</code></td>
    <td>{{s143 Include pages opened in a new tab or window}}</td>
  </tr>
  <tr>
    <td><code>generichide</code></td>
    <td>{{s144 Used to prevent applying global element rules on a page (e.g. <code>@@||example.com^$generichide</code>)}}</td>
  </tr>
  <tr>
    <td><code>genericblock</code></td>
    <td>{{s145 Used to prevent applying global blocking rules on a page (e.g. <code>@@||example.com^$genericblock</code>)}}</td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: center;">{{s96 Exceptions}}</td>
  </tr>
  <tr>
    <td><code>document</code></td>
    <td>{{s97 Used to whitelist the page itself (e.g. <code><fix>@@||example.com^$document</fix></code>)}}</td>
  </tr>
  <tr>
    <td><code>elemhide</code></td>
    <td>{{s98 Used to prevent element rules from applying on a page (e.g. <code><fix>@@||example.com^$elemhide</fix></code>)}}</td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: center;">{{s99 Domains}}</td>
  </tr>
  <tr>
    <td><code>domain=</code></td>
    <td>{{s100 Specify a list of domains, separated by bar lines (|), on which a filter should be active. A filter may be prevented from being activated on a domain by preceding the domain name with a tilde (~).}}</td>
  </tr>
  <tr>
    <td><code>third-party</code><br><code>~third-party</code></td>
    <td>{{s101 Specify whether a filter should be active on third-party or first domains}}</td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: center;">{{mischeader Misc}}</td>
  </tr>
</table>

<p>{{s102 Less frequently used options, including <code><fix>ping</fix></code>, <code><fix>other</fix></code> and <code><fix>match-case</fix></code> are explained in the <a href="https://adblockplus.org/en/filters#options">Writing Adblock Plus Filters</a> documentation.}}</p>

<h2 id="elementhiding">{{s103 Element hiding}}</h2>

<h3 id="elementhiding-ex1">{{ehex1-0 Example 1: Hiding elements}}</h3>
<p>{{ehex1-1 We want to hide elements with class the <code>advert</code> on <code>example.net</code>, <code>example.com</code> and subdomains.}}</p>
<div class="example">
  <div class="explanations">
    <div class="domains">
      <h4>{{ehex1-2 Domains}}</h4>
      <p>{{ehex1-3 An optional comma separated list of domains this filter applies to. If ommitted, it applies everywhere.}}</p>
    </div>
    <div class="separator">
      <h4>{{ehex1-4 Separator}}</h4>
      <p>{{ehex1-5 For an element hiding filter using standard CSS selectors, the separator is <code>##</code>.}}</p>
    </div>
    <div class="selector">
      <h4>{{ehex1-5 Selector}}</h4>
      <p>{{ehex1-6 The CSS selector for the elements to hide.}}</p>
    </div>
  </div>
  <div style="line-height: 0;"><canvas class="canvas"></canvas></div>
  <div class="filter">
    <span class="domains">example.com,example.net</span><span class="separator">##</span><span class="selector">.advert</span>
  </div>
</div>

<h3 id="elementhiding-ex2">{{ehex2-0 Example 2: Exception in element hiding}}</h3>
<p>{{ehex2-1 We want to exclude the above hiding rule on <code>exception.example.com</code>.}}</p>
<div class="example">
  <div class="explanations">
    <div class="domains">
      <h4>{{ehex2-2 Domains}}</h4>
      <p>{{ehex2-3 Comma separated list of domains this exception applies to. This can be ommitted.}}</p>
    </div>
    <div class="exception">
      <h4>{{ehex2-4 Exception separator}}</h4>
      <p>{{ehex2-5 For an element hiding filter exception using CSS selectors, the separator is <code>#@#</code>.}}</p>
    </div>
    <div class="selector">
      <h4>{{ehex2-5 Selector}}</h4>
      <p>{{ehex2-6 The CSS selector matching the rule we want to create an exception for.}}</p>
    </div>
  </div>
  <div style="line-height: 0;"><canvas class="canvas"></canvas></div>
  <div class="filter">
    <span class="domains">exception.example.com</span><span class="exception">#@#</span><span class="selector">.advert</span>
  </div>
</div>

<h3 id="elementdomains">{{s105 Domain selection}}</h3>

<p>{{s106 <code><fix>##selector</fix></code> is used as a placeholder for <a href="#elementselection">element selectors</a>.}}</p>

<table>
  <col class="selector">
  <col class="selectorPurpose">
  <tr>
    <th>{{s107 Example rules}}</th>
    <th>{{s105 Domain selection}}</th>
  </tr>
  <tr>
    <td><code>##selector</code></td>
    <td>
      <p>
        {{s109 Active on:}}
        <ul class="example-list">
          <li>{{s110 All domains, including:}}</li>
          <li><code>http://example.com/</code></li>
          <li><code>https://example.net/</code></li>
          <li><code>ftp://example.edu/</code></li>
        </ul>
      </p>
      <p>
        {{s111 Not active on:}}
        <ul class="example-list">
          <li>{{s112 Not applicable}}</li>
        </ul>
      </p>
    </td>
  </tr>
  <tr>
    <td><code>example.com##selector</code></td>
    <td>
      <p>
        {{s113 Active on, for example:}}
        <ul class="example-list">
          <li><code>http://example.com/</code></li>
          <li><code>ftp://subdomain.example.com/</code></li>
        </ul>
      </p>
      <p>
        {{s111 Not active on:}}
        <ul class="example-list">
          <li>{{s115 All other domains, including}}</li>
          <li><code>http://example.edu/</code></li>
          <li><code>ftp://example.net/</code></li>
        </ul>
      </p>
    </td>
  </tr>
  <tr>
    <td><code>~example.com##selector</code></td>
    <td>
      <p>
        {{s109 Active on:}}
        <ul class="example-list">
          <li>{{s115 All other domains, including}}</li>
          <li><code>http://example.edu/</code></li>
          <li><code>ftp://example.net/</code></li>
        </ul>
      </p>
      <p>
        {{s118 Not active on, for example:}}
        <ul class="example-list">
          <li><code>http://example.com/</code></li>
          <li><code>ftp://subdomain.example.com/</code></li>
        </ul>
      </p>
    </td>
  </tr>
  <tr>
    <td><code>example.com,example.edu##selector</code></td>
    <td>
      <p>
        {{s113 Active on, for example:}}
        <ul class="example-list">
          <li><code>http://example.com/</code></li>
          <li><code>https://subdomain.example.com/</code></li>
          <li><code>ftp://example.edu/</code></li>
        </ul>
      </p>
      <p>
        {{s111 Not active on:}}
        <ul class="example-list">
          <li>{{s121 All other domains, including:}}</li>
          <li><code>http://example.net/</code></li>
        </ul>
      </p>
    </td>
  </tr>
  <tr>
    <td><code>example.com,~mail.example.com##selector</code></td>
    <td>
      <p>
        {{s109 Active on:}}
        <ul class="example-list">
          <li><code>http://example.com/</code></li>
          <li><code>https://adverts.example.com/</code></li>
        </ul>
      </p>
      <p>
        {{s111 Not active on:}}
        <ul class="example-list">
          <li><code>http://mail.example.com/</code></li>
          <li>{{s124 All other domains}}</li>
        </ul>
      </p>
    </td>
  </tr>
</table>

<h3 id="elementselection">{{s125 Element selection}}</h3>

<table>
  <col class="selector">
  <col class="selectorPurpose">
  <tr>
    <th>{{s126 Selector}}</th>
    <th>{{s127 Purpose}}</th>
  </tr>
  <tr>
    <td><code>###advert</code></td>
    <td>{{s128 Matches the element with the unique id "advert"}}</td>
  </tr>
  <tr>
    <td><code>##.advert</code></td>
    <td>{{s129 Matches elements with the class "advert"}}</td>
  </tr>
  <tr>
    <td><code>##table[height=&quot;100&quot;][width=&quot;100&quot;]</code></td>
    <td>{{s130 Matches a table with a height of 100 and a width of 100}}</td>
  </tr>
  <tr>
    <td><code>##a[href=&quot;http://example.com/&quot;]</code></td>
    <td>{{s131 Matches links to http://example.com/}}</td>
  </tr>
  <tr>
    <td><code>##div[style=&quot;width:300px;height:250px;&quot;]</code></td>
    <td>{{s132 Matches div elements that have exactly the style specified}}</td>
  </tr>
  <tr>
    <td><code>###advert &gt; .link</code></td>
    <td>{{s133 Matches elements with the class "link" that are enclosed within elements with the id "advert"}}</td>
  </tr>
  <tr>
    <td><code>###advert + .link</code></td>
    <td>{{s134 Matches elements with the class "link" that are immediately preceded by elements with the id "advert"}}</td>
  </tr>
  <tr>
    <td><code>##a[href^=&quot;http://example.com/&quot;]</code></td>
    <td>{{s135 Matches links to any pages hosted on http://example.com/}}</td>
  </tr>
  <tr>
    <td><code>##div[style^=&quot;width:300px;height:250px;&quot;]</code></td>
    <td>{{s136 Matches div elements that start with the style specified}}</td>
  </tr>
  <tr>
    <td><code>##div[style$=&quot;width:300px;height:250px;&quot;]</code></td>
    <td>{{s137 Matches div elements that end the style specified}}</td>
  </tr>
  <tr>
    <td><code>##div[style*=&quot;width:300px;height:250px;&quot;]</code></td>
    <td>{{s138 Matches div elements that containing the style specified}}</td>
  </tr>
</table>
<p>{{s139 The above filters are examples of valid element hiding rules. Any <a href="http://www.w3.org/TR/css3-selectors/">CSS selector</a> supported by your browser can be used for element hiding.}}</p>

<h2 id="elementhideemulation">{{ abp-pseudo-select-heading[heading] Extended CSS selectors (Adblock Plus specific) }}</h2>

<p>{{ abp-pseudo-select-1 In some situations standard CSS selectors are not sufficient. For those cases there are extended CSS pseudo-selectors, and the filter syntax differs from <a href="#elementhiding">the element hiding</a> by using an alternate separator.}}</p>

<h3 id="elementhidingemulation-ex1">{{ehemex1-0 Example 1: Hiding element based on their content}}</h3>

<p>{{ehemex1-1 Hide <code>div</code> elements that contain a <code>div</code> that contain an image with CSS class <code>advert</code>.}}</p>

<div class="example">
  <div class="explanations">
    <div class="domains">
      <h4>{{ehemex1-2 Domains}}</h4>
      <p>{{ehemex1-3 Comma separated list of domains this filter applies to. This is mandatory.}}</p>
    </div>
    <div class="separator">
      <h4>{{ehemex1-4 Separator}}</h4>
      <p>{{ehemex1-5 For an element hiding filter using extended CSS pseudo-selectors, the separator is <code>#?#</code>.}}</p>
    </div>
    <div class="selector">
      <h4>{{ehemex1-6 Selector}}</h4>
      <p>{{ehemex1-7 The CSS selector to select the elements to hide. It can use <a href="#elementhidingemulation-selectors">the extended selectors</a> syntax.}}</p>
    </div>
  </div>
  <div style="line-height: 0;"><canvas class="canvas"></canvas></div>
  <div class="filter">
    <span class="domains">example.com,example.net</span><span class="separator">#?#</span><span class="selector">div:-abp-has(> div > img.advert)</span>
  </div>
</div>

<h3 id="elementhidingemulation-ex2">{{ehemex2-0 Example 2: Exception for the element hiding}}</h3>

<div class="example">
  <div class="explanations">
    <div class="domains">
      <h4>{{ehemex2-1 Domains}}</h4>
      <p>{{ehemex2-2 Comma separated list of domains this exception applies to.}}</p>
    </div>
    <div class="exception">
      <h4>{{ehemex2-3 Exception Separator}}</h4>
      <p>{{ehemex2-4 Like for an <a href="#elementhiding-ex2">element hiding filter</a>, the separator for an exception is <code>#@#</code>.}}</p>
    </div>
    <div class="selector">
      <h4>{{ehemex2-5 Selector}}</h4>
      <p>{{ehemex2-6 The CSS selector matching the rule we want to create an exception for.}}</p>
    </div>
  </div>
  <div style="line-height: 0;"><canvas class="canvas"></canvas></div>
  <div class="filter">
    <span class="domains">exception.example.com</span><span class="exception">#@#</span><span class="selector">div:-abp-has(> div > img.advert)</span>
  </div>
</div>

<h3 id="elementhidingemulation-selectors">Adblock Plus specific pseudo-selectors</h3>

<p>{{ abp-pseudo-select-1a You can use the following Adblock Plus specific pseudo-selectors: }}</p>

<table>
  <col class="selector">
  <col class="selectorPurpose">
  <tr>
    <th>{{ pseudo-class-header[header] Pseudo-class }}</th>
    <th>{{ s127 Purpose }}</th>
  </tr>
  <tr>
    <td><code>:-abp-properties()</code></td>
    <td>{{ abp-properties-purpose Select an element if its CSS style properties match what's specified. You can pass a regular expression by surrounding it with "/". }}</td>
  </tr>
  <tr>
    <td><code>:-abp-has()</code></td>
    <td>{{ abp-has-purpose Select an element if its content subtree match the selector specified }}</td>
  </tr>
  <tr>
    <td><code>:-abp-contains()</code></td>
    <td>{{ abp-contains-purpose Select an element if its text content contains the specified string }}</td>
  </tr>
</table>

<p>{{ abp-pseudo-select-2 When writing element hiding filters that make use those you must use the <code>#?#</code> syntax (replace <code>##</code> with <code>#?#</code>) and take care to specify one or more domains. Some examples: }}</p>

<table>
  <col class="selector">
  <col class="selectorPurpose">
  <tr>
    <th>{{ s126 Selector }}</th>
    <th>{{ s127 Purpose }}</th>
  </tr>
  <tr>
    <td><code>example.com#?#div:-abp-properties(width:300px;height:250px;)</code></td>
    <td>{{ abp-properties-example Matches <code><fix>div</fix></code> elements whose style contain the specified properties }}</td>
  </tr>
  <tr>
    <td><code>example.com#?#div:-abp-has(&gt; div &gt; img.advert)</code></td>
    <td>{{ abp-has-example1 Matches <code><fix>div</fix></code> elements that contain as a direct descendant a <code><fix>div</fix></code> element whose direct descendant is an <code><fix>img</fix></code> with the class "advert" }}</td>
  </tr>
  <tr>
    <td><code>example.com#?#div:-abp-has(&gt; div &gt; img:-abp-properties(width:300px;height:250px;))</code></td>
    <td>{{ abp-has-example2 Matches <code><fix>div</fix></code> elements that contain as a direct descendant a <code><fix>div</fix></code> element whose direct descendant is an <code><fix>img</fix></code> element whose style properties contain the specified properties, a <code><fix>width</fix></code> of 300 pixels and an <code><fix>height</fix></code> of 250 pixels }}</td>
  </tr>
  <tr>
    <td><code>example.com#?#div:-abp-has(&gt; div &gt; img:-abp-properties(WidTh:300px;hEigHt:250px;))</code></td>
    <td>{{ abp-has-example3 Since the CSS properties are matched case-insensitively, this filter matches the same thing as above }}</td>
  </tr>
  <tr>
    <td><code>example.com#?#div:-abp-has(> span:-abp-contains(Advertisment))</code></td>
    <td>{{ abp-contains-example1 Matches <code><fix>div</fix></code> elements that have a direct descendent <code><fix>span</fix></code> element containing the text "Advertisment" }}</td>
  </tr>
  <tr>
    <td><code>example.com#?#div &gt; img:-abp-properties(width:*px;height:250px;)</code></td>
    <td>{{ abp-properties-example1 By using a wildcard <code>*</code>, this filter matches an <code>img</code> whose CSS style properties have a <code>width</code> specified in pixels and a <code>height</code> of 250 pixels }}</td>
  </tr>
  <tr>
    <td><code>example.com#?#div &gt; img:-abp-properties(/width: 3[2-8]px;/)</code></td>
    <td>{{ abp-properties-example2 By using a regular expression, this filter matches an <code>img</code> whose CSS style properties have a <code>width</code> between 32 and 38 pixels }}</td>
  </tr>
</table>

<h2 id="snippets">{{snippet0 Snippet filters}}</h2>
<p>
  {{snippet1 Snippet filters allow executing snippet scripts.}}
</p>
<div class="example">
  <div class="explanations">
    <div class="domains">
      <h4>{{snippet2 Domains}}</h4>
      <p>{{snippet3 Comma separated list of domains this filter applies to.}}</p>
    </div>
    <div class="separator">
      <h4>{{snippet4 Separator}}</h4>
      <p>{{snippet5 For a snipet filter, the separator is <code>#$#</code>.}}</p>
    </div>
    <div class="script">
      <h4>{{snippet6 Script}}</h4>
      <p>{{snippet7 The snippet script.}}</p>
    </div>
  </div>
  <div style="line-height: 0;"><canvas class="canvas"></canvas></div>
  <div class="filter">
    <span class="domains">example.com,example.net</span><span class="separator">#$#</span><span class="script">log Hello world!</span>
  </div>
</div>
