title=Tutorials

<head>
<meta content="{{s2 Want to block ads on YouTube? Remove those Facebook ads? Never want to see another banner? Use Adblock Plus tutorials to protect yourself against unwanted online ads.}}" name="description">
<meta content="{{s2 Want to block ads on YouTube? Remove those Facebook ads? Never want to see another banner? Use Adblock Plus tutorials to protect yourself against unwanted online ads.}}" property="og:description">
</head>

<h2 id="adblocker">{{s5 What is an adblocker?}}</h2>

<p>
  {{s6 An adblocker for Chrome or Firefox is an extension (or add-on) to your browser, which adds functionality to your browser so it can filter content. Adblockers itself have no functionality, in the sense that they do not block anything until it is "told" what to do. The so-called filterlists tell the adblocker what to block. These filterlists, are basically an extensive set of rules, which tell Adblock Plus what to block. The lists are created and maintained by a large online community.}}
</p>

<h2 id="block-ads">{{s7 How to block ads}}</h2>

<p>
  {{s8 While it can do so much more, the core function of Adblock Plus is to block annoying advertisements. These tutorials shows you how to block obtrusive ads in the different browsers.}}
</p>

<h3>{{s9 How to block ads in Firefox}}</h3>

<p>
  {{s10 Adblock Plus for Firefox allows you to get rid of all annoying advertising, such as YouTube ads, Facebook ads, banners, pop-ups, and many others. If you do not have the Mozilla Firefox browser installed yet, please <a href="https://www.mozilla.org/firefox/new/">install it from Mozilla</a>. If you want to block ads in a different browser please see the tutorials of installing Adblock Plus for Google Chrome and Opera.}}
</p>

<p>
  {{s11 The easiest way to add Adblock Plus to Firefox is to simply <a href="adblock-plus-firefox">go to the Firefox installation page</a> and click on the install button. A small screen will open on the left side of your browser, please click on "Allow". Then, another small screen will appear, where you have to click on "Install now". This will add Adblock Plus to your browser, and you will be protected against all obtrusive ads.}}
</p>

<p>
  {{s12 You can also <a href="https://addons.mozilla.org/firefox/addon/adblock-plus">install Adblock Plus through Mozilla Firefox</a>. First, go to Adblock Plus in the Mozilla Add-ons section. Then, when you have opened the link, the following screen appears:}}
</p>

<img src="images/tutorials_blockads_ff.png">

<p>
  {{s13 Please click on the big green button "Add to Firefox" to install Adblock Plus. Then, Firefox will ask you to "Install add-ons only from authors whom you trust." please confirm this by clicking on "Install". After confirming this, all annoying ads will be blocked.}}
</p>

<p>
  {{s14 A default filterlist will be installed the first time you install Adblock Plus, based on the language of your browser. To add other filtersubscriptions, <a href="getting_started#add-subscription">read more here</a>. For more advanced options, like custom creating filter, please <a href="filters">go here</a>.}}
</p>

<h3>{{s15 How to block ads in Google Chrome}}</h3>

<p>
  {{s16 Currently, annoying ads are blocked on <fix>100</fix> million devices. If you use <fix>Google Chrome</fix>, use the <fix>Adblock Plus</fix> extension to get rid of all annoying advertising. <fix>Adblock Plus</fix> blocks all annoying ads on the web, like <fix>YouTube</fix> video ads, flashy banner ads, <fix>Facebook</fix> ads and much more. It even blocks pop-ups which are not blocked by your browser. This tutorial will show you how to install <fix>Adblock Plus</fix>, and how you can block ads in <fix>Google Chrome</fix>.}}
</p>

<h4>{{s17 Add Adblock Plus to Google Chrome}}</h4>

<p>
  {{s18 There are two ways how you can add Adblock Plus to your Chrome browser. First, you can add our ad blocker for Chrome by <a href="adblock-plus-chrome">going to the Chrome installation page</a> and clicking on the green install button. A small screen will appear asking you to confirm to install Chrome's Adblock Plus. Please click "Add" to install Adblock Plus. You are now protected against annoying ads.}}
</p>

<p>
  {{s19 You can also add Adblock Plus through the Google Chrome Webstore. To install our adblocker, <a href="https://chrome.google.com/webstore/detail/adblock-plus/cfhdojbkjhnklbpkdaibdccddilifddb">access the Webstore</a>. Click on "Add to Chrome", and click "Add" to confirm.}}
</p>

<p>
  {{s20 Adblock Plus automatically installs a default filterlist, based on the language of your browser. If you wish to learn how to add other filterlists, you can <a href="getting_started#add-subscription">read more here</a>.  For more advanced options, like disabling tracking, click <a href="subscriptions">here</a>.}}
</p>

<h3>{{s21 How to block ads in Opera}}</h3>

<p>
  {{s22 To block ads in Opera, you only need to install Adblock Plus. The easiest way is to <a href="https://addons.opera.com/en/extensions/details/opera-adblock/">go to the Opera Add-ons page</a> and click on "Add to Opera". A small pop-up will ask you to add Adblock Plus to your Opera browser. Click on "Install" to protect yourself against all online ads.}}
</p>

<h3>{{s23 How to block ads on Android}}</h3>

<p>
  {{s24 If you want to block all ads from your Android device, you can simply go to <a href="https://adblockplus.org">our homepage</a> with your Android device and download the application "Adblock Plus". Before you download it, you should make sure your device <a href="android-install">allows app installation from unknown sources</a>. If you do not have a rooted device, you will probably need to <a href="android-about#general">configure the proxy manually</a>. After that, you will be protected against ads.}}
</p>

<h2 id="tracking">{{s25 How to disable online tracking}}</h2>

<p>
  {{s26 There are many companies that collect data about your browsing habits across multiple websites. Even your browsing history is being examined and collected. Few users have no problems with these practices, because firms can better target ads tailored to their needs. However, there are hundreds of ad agencies that collect a loads of data about you and your browsing habits. If you do not want your online behavior being tracked by other companies, you can use Adblock Plus to disable all online tracking practices. According to this <a href="https://cyberlaw.stanford.edu/node/6730">Stanford University Study</a>, Adblock Plus is the best solution to protect yourself against online tracking.}}
</p>

<p>
  {{s27 See <a href="#disablesocial">How to disable social media button</a> if you want to disable tracking from companies like Facebook and Google by removing the social media buttons from all websites.}}
</p>

<h3>{{s28 Disable online tracking in Firefox}}</h3>

<p>
  {{s29 Online tracking can be disabled by adding a new filterlist subscription to Adblock Plus. The so-called "EasyPrivacy" filter will block all tracking requests made by websites. To add this list to Adblock Plus, simply <a href="https://subscribe.adblockplus.org?location=https%3A%2F%2Feasylist-downloads.adblockplus.org%2Feasyprivacy%2Beasylist.txt&amp;title=EasyPrivacy%2BEasyList">click here</a>, and click "Add subscription".}}
</p>

<h3>{{s30 Disable online tracking in Google Chrome}}</h3>

<p>
  {{s31 In Google Chrome, Adblock Plus can disable all unwanted tracking practices from advertising companies. Disabling tracking can be done by installing and enabling the "EasyPrivacy" filterlist subscription, by <a href="https://subscribe.adblockplus.org?location=https%3A%2F%2Feasylist-downloads.adblockplus.org%2Feasyprivacy%2Beasylist.txt&amp;title=EasyPrivacy%2BEasyList">opening this dialog</a>. Click on "Add" to protect yourself against tracking in Chrome.}}
</p>

<h2 id="malware">{{s32 How to disable malware domains}}</h2>

<p>
  {{s33 Malware is currently one of the biggest online threats. Without the user knowing, bits of software can be installed on your hard-drive which will open up your computer for all kinds of cyber criminality. If your computer is infected by malware, your online banking credentials, credit card information, personal identification numbers, passwords etc. are all at risk. Malware can be installed on your computer <a href="http://www.digitaltrends.com/computing/yahoo-fox-and-google-inadvertently-spread-malware-through-ads/">through online ads</a>, even the Google and Yahoo ads. You can use Adblock Plus to protect yourself against malware, Trojan horses, worms, spy- and adware and viruses.}}
</p>

<h3>{{s34 Disable malware domains on Firefox}}</h3>

<p>
  {{s35 Disabling known malware domains is done by simply adding a new filterlist subscription to Adblock Plus. To add this list to Adblock Plus, simply <a href="https://subscribe.adblockplus.org?location=https%3A%2F%2Feasylist-downloads.adblockplus.org%2Fmalwaredomains_full.txt&amp;title=Malware%20Domains">click here</a>, and click "Add subscription".}}
</p>

<h3>{{s36 Disable malware domains on Chrome}}</h3>

<p>
  {{s37 By adding a new filterlist subscription to Chrome, Adblock Plus can disable all the domains, known to spread malware. To add this list to Adblock Plus, simply <a href="https://subscribe.adblockplus.org?location=https%3A%2F%2Feasylist-downloads.adblockplus.org%2Fmalwaredomains_full.txt&amp;title=Malware%20Domains">click here</a>, and click "Add" in the filterlist settings menu of our ad block for Chrome.}}
</p>

<h2 id="disablesocial">{{s38 How to disable social media buttons}}</h2>

<p>
  {{s39 Almost every website today contains buttons of social media platforms, such as Facebook, Twitter, Google + and others. Even if you never click these buttons, your browsing data is still being transferred to these platforms in order to create a profile based on your browsing habits.}}
</p>

<p>
  {{s40 If you want to browse the web without being observed by the social media websites, Adblock Plus offers an easy solution to remove these buttons.}}
</p>

<h3>{{s41 Disable social media buttons in Mozilla Firefox}}</h3>

<p>
  {{s42 If you want to block social media buttons in Firefox, just follow these easy steps: simply <a href="https://subscribe.adblockplus.org?location=https%3A%2F%2Feasylist-downloads.adblockplus.org%2Ffanboy-social.txt&amp;title=Fanboy's%20Social%20Blocking%20List">click here</a> and choose "Add subscription".}}
</p>

<h3>{{s43 Disable social media buttons in Google Chrome}}</h3>

<p>
  {{s44 In Adblock Plus for Google Chrome it is very simple to remove social media buttons by adding a new filterlist to subscriptions. All you have to do is simply <a href="https://subscribe.adblockplus.org?location=https%3A%2F%2Feasylist-downloads.adblockplus.org%2Ffanboy-social.txt&amp;title=Fanboy's%20Social%20Blocking%20List">click here</a>, and then click "Add" in the filterlist settings of Adblock Plus.}}
</p>

<h2 id="block-ads-youtube">{{s45 How to block ads on YouTube}}</h2>

<p>
  {{s46 One of the greatest online annoyances is the 30-second commercials you have to sit through to see a 20-second movie on YouTube. Although people are complaining about this continuously, it is expected that this way of advertising will only grow in the near future. With Adblock Plus, it is very easy to block the video ads on Youtube. Just install Adblock Plus and all YouTube video ads will be blocked.}}
</p>

<p>
  {{s47 For Google Chrome, Adblock Plus can be installed by <a href="adblock-plus-chrome">visiting the Chrome installation page</a> and clicking on the install button. After the small pop-up window pops up, click on "Add". Adblock Plus is now automatically blocking all annoying YouTube video ads.}}
</p>

<p>
  {{s48 For Firefox, you can install Adblock Plus by <a href="adblock-plus-firefox">visiting the Firefox installation page</a> and clicking on the install button. Confirm the installation by clicking "Allow" on the first one, and "Install Now" on the second. Out of the box, Adblock Plus automatically blocks all those annoying video ads from YouTube.}}
</p>

<h2 id="block-ads-facebook">{{s49 How to block ads on Facebook}}</h2>

<p>
  {{s50 Getting tired of ads cluttering your Facebook timeline? Use Adblock Plus to block all Facebook ads. After installation, Adblock Plus automatically blocks all ads, including Facebook advertising.}}
</p>

<p>
  {{s51 For Google Chrome, Adblock Plus can be installed by <a href="adblock-plus-chrome">visiting the Chrome installation page</a> and clicking on the install button. Just confirm the installation by clicking on "Add", and refresh Facebook. You will see that all Facebook ads will be blocked!}}
</p>

<p>
  {{s52 Adblock Plus for Firefox can be installed by <a href="adblock-plus-firefox">visiting the Firefox installation page</a> and clicking on the install button. Firefox will ask you to confirm the installation of the add-on twice, so click on "Allow" and then "Install Now". After the installation process, Adblock Plus will be blocking all those annoying Facebook ads.}}
</p>
