title=Adblock Plus has been updated
prevent_cookie_prompt=1
template=bare

{# new.abp.o supports /update, abp.o doesn't yet. Therefore, forward to new.abp.o #}
{% if config.get("general", "siteurl") == "https://adblockplus.org" %}
  <head>
    <link rel="canonical" href="https://new.adblockplus.org/update">
    <script>
      if (window.location.hostname !== "localhost")
        window.location.href = "https://new.adblockplus.org/update";
    </script>
  </head>
  <main class="container content">
    <h1>Redirecting...</h1>
    <p><a href="https://new.adblockplus.org/update">Click here</a> if you're not redirected automatically.</p>
  </main>
{% else %}
  <? include update/page ?>
{% endif %}
