<!DOCTYPE html>
<html <? include html-attributes ?>>
  <head>
    <? include meta/standard ?>
    <? include meta/social ?>
    <? include styles ?>
    <? include anti-flicker ?>
    <? include config ?>

    <? include polyfills ?>

    {% block head %}
      {{ head | safe }}
    {% endblock %}
  </head>

  <body>
    <? include navbar ?>

    {% block body %}
      {{ body | safe }}
    {% endblock %}

    <? include footer ?>
    <? include cookie/index ?>
    <? include analytics ?>
    <? include scripts ?>
  </body>
</html>
